:root {
  --primary: #4834d4;
  --bg: #f1f2f6;
  --white: #ffffff;
}
body {
  background: var(--bg);
  font-family: "Segoe UI", sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.app-container {
  background: var(--white);
  width: 450px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
